<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>相册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/blogsheet.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/blog.js"></script>
</head>
<body>
    {{template "nav.html" .}}
    <div id="main">
        {{if .isLogin}}
        <form method="post" enctype="multipart/form-data" id="upload-form">
            <input type="file" id="album-upload-file" name="upload">
            <input type="button" id="album-upload-button" value="提交文件">
        </form>
        <p>
            仅支持图片文件: jpg, jpeg, png
        </p>
        {{end}}
        <div id="album-box">
            {{range .Image}}
                <img src="{{.FilePath}}" class="image-item">
            {{end}}
        </div>
    </div>
</body>
</html>